{% extends 'base.html.twig' %}

{% block body %}
    <h1>System creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {% for part in form.parts %}
        {{ form_row(part.serialNumber) }}
        {{ form_row(part.longString) }}
    {% endfor %}
    <input type="submit" value="Create"/>
    {{ form_end(form) }}

{% endblock %}
